body {
  font-family: Arial, Helvetica, sans-serif;
}
.cock-tail-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.cock-tail-data li {
  list-style-type: none;
}
.cock-tail-data li img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .cock-tail-data {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
